
    <section>
        <h2>Productos Destacados</h2>

        <div class="product">
            <h3>Producto 1</h3>
            <p>Descripci칩n del producto. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: $19.99</p>
            <button>A침adir al carrito</button>
        </div>

        <div class="product">
            <h3>Producto 2</h3>
            <p>Descripci칩n del producto. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: $29.99</p>
            <button>A침adir al carrito</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Tu Tienda Online. Todos los derechos reservados.</p>
    </footer>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/products.js"></script>


