    <title>{{title}}</title>
    <form action="#" method="post">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>

        
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required>
        <br>

        
        <label for="contrase単a">Contrase単a:</label>
        <input type="password" id="contrase単a" name="contrase単a" required>
        <br>

        
        <input type="submit" value="Enviar">
    </form>

    <footer>
        <p>&copy; 2023 Tu Tienda Online. Todos los derechos reservados.</p>
    </footer>